.latex-sub, .latex-sup { text-transform: uppercase;
                         font-size: smaller;
                         position: relative; }

.latex-sub { top: 0.2rem;
             margin-left: -0.1667rem;
             margin-right: -0.125rem; }

.latex-sup { top: -0.2rem;
             margin-left: -0.36rem;
             margin-right: -0.15rem;
             text-shadow: none; }

.latex::selection, .latex span:not(.latex-sup)::selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                    background: #b4d5fe; }

.latex::-moz-selection, .latex span:not(.latex-sup)::-moz-selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                         background: #b4d5fe; }

div.poem {
    max-width: 55%;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem; }

/* *** */
pre.verse {
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    margin: 1.5em auto;
    width: auto;
    display:table;
    white-space: pre-wrap;
    /* Whitespace is preserved by the browser.
    Text will wrap when necessary, and on line breaks */
}
pre.verse p { width: auto; }

nav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border: solid #ccc 1px;
    padding: 0; margin: 0;
    background-color: #efefef;
    display: block;
}

nav ul {
    margin:0; padding: 0;
    width: 100%;
}

nav ul li {
     display: inline-block;
     /* border-left: solid #ccc 1px; */
     border-right: solid #ccc 1px;
     width: 5em;
     margin: 0; padding: 0;
     text-align: center;
     font-size: 80%;
 }

nav ul li a:link {
    text-decoration: none;
    border: none;
    font-style: italic;
    background: none;
    text-shadow: none;
}
nav ul li a:link img { width: auto; }

a.sourcelink:link {
    padding-right: 0.3em;
    font-size: 0.75em;
    font-style: normal;
}

p.poem-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 95%;
    letter-spacing: 1px;
    font-style: normal;
}

a.index-entry { text-decoration: none; border: none; }

.smallcaps {
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 1px;
}

p + p.pause-before,
blockquote + p.pause-before,
table + p.pause-before,
figure + p.pause-before {
    margin-top: 4rem;
}

p.video {
    text-align: center;
}

p.video a {
    background: none;
    text-shadow: none;
}

video { width: 100%; }

hr {
    border:none;
    overflow:hidden;
    height:3em;
    text-align: center;
}

hr:before {
  content:"â‚";
  color: #555;
  font-size: 2rem;
  letter-spacing:0px;
  margin: 0;
  padding: 0;
}

footer {
    text-align: center;
    font-size: 1rem;
}

footer p { width: 100%; font-size: 1.125rem; }

@media (max-width: 760px) {
    div.poem { max-width: 90%; } }

/* added by BlueMagician */
body {
  color:#111111 !important;
  background-color:#fffff8 !important;
}

@font-face {
  font-family: "PR Astro";
  src: url(/css/fonts/pr_astro/ASTRO.TTF) format("truetype")
}

@font-face {
  font-family: "AstroDotBasic";
  src: url(/css/fonts/astrodotbasic/AstroDotBasic.ttf) format("truetype")
}

span.esoteric-glyph {
  font-family: "AstroDotBasic";
  font-size:1.5em;
}

span.esoteric-glyph.mars,
span.esoteric-glyph.moon
{
  display:inline-block;
}

span.esoteric-glyph.mars {
  margin-top:-2px;
}

span.esoteric-glyph.moon
{
  margin-top:-1px;
}

div.prayer {
  font-style:italic;
}

.day-ruler, .hour-number, .hour-ruler {
  text-align:center;
  padding-top:5px !important;
}

tr > th.spacing, tr > td.spacing {
  width:3px;
  margin:0;
  padding:0;
}

tr > td.spacing {
  background-color:#f6f5ea;
}

.trad, .magical, .mundane {
  text-align:left;
}

.trad {
}

table {
  border-collapse:collapse;
  width:960px;
  max-width:100%;
}

th.col-header {
  background-color:#f8f8ed;
  padding:5px 5px;
  vertical-align:middle;
  font-size:1.1em;
}

th.day {
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size:1.3em;
  border-bottom:1px solid gray;
  background-color:#f9f4df;
  text-align:left;
  vertical-align:middle;
  padding:18px;
}

th.day-ruler, th.hour-number, th.hour-ruler {
  width:30px;
}

td {
  background-color:#fffff4;
  vertical-align:top;
  padding:15px;
  border-top:1px solid gray;
  line-height:1.4;
}

td.hour-number {
  font-size:1.1em;
  padding-top:8px !important;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

